*{
   padding:0%;
   margin: 0%;
   box-sizing: border-box;
     font-family: "Space Grotesk", sans-serif;
}
nav{
   height: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #fff;
   padding: 0px 90px;
   padding-top: 40px;
}
nav ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 40px;
}

ul li{
   list-style-type: none;
}
ul li a{
   text-decoration: none;
   color: rgba(0, 0, 0, 0.63);
}
.btn{
   background-color: rgb(44, 101, 223);
   color: white;
   border: none;
border-radius: 5px;
}
.nav_btn{
padding: 7px 20px;
background-color: rgb(44, 101, 223);


}
.hero{
  
   height: 90vh;
   background:linear-gradient( to left, rgba(14, 14, 12, 0.445)), url("./assets/banner.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   text-align: center;
}
.hero p{
   width: 500px;
   margin: auto;
   font-weight: 200;
   color: rgba(255, 255, 255, 0.63);
}
.hero h1{
   font-size: 70px;
   padding: 20px;
   margin-top: 40px;
   font-style: italic;
   
}
.hero_btn{
   padding: 15px 50px;
   margin-top: 300px;
}
.meet_t_S{
   padding: 10px 10px;
}
.meet_t_S h1{

   color: black;
   text-align: center;
   font-size: 40px;
   padding: 30px 0px;
  
}
.father_card{

   display:grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,1fr);
   margin: auto;
   gap: 20px;
   padding: 30px;
}
.father_card .card{

   width: 45vw;

}
.card img{
   width: 100%;
   border-radius: 7px 10px 0 0 ;
}
.text_padding{
   padding: 2px 25px;
}

.top_title{
   color: blue;
   font-size: 13px;
 
}
.title{
   font-size:25px;
   
}
.Sub_title{
   font-size: 16px;
   color: rgba(0, 0, 0, 0.507);
 
}
.secure_y-s{
   padding: 40px 0px;
   height: 95vh;
}

.secure_y-s h2{
   
   color: rgb(0, 0, 0);
   text-align: center;
   font-size: 40px;
   padding-top: 20px;
}
.s_sub{
   text-align: center;
   color: rgba(34, 35, 37, 0.678);
   padding: 10px 0px;
   padding-bottom: 20px;
}
.secure_y-s .all_card{
   height: 60vh;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.all_card .card{
   width:22vw;
   height: 58vh;
    border-radius: 10px;
    padding: 20px 0px;
    
}
.bg{
   background-color: rgb(20, 27, 37);
   color: white
}

.margin-{
margin-top: -30px;
}
.card p{

font-size: 13px;
padding: 10px 40px;

}
.card h1{
padding: 20px 0px;
 padding-left: 30px;
   

}
.card ul{
   padding: 30px 40px;
}
.card ul li{
   list-style: disc;
   color: rgb(39, 126, 240);
}
.card ul li p{
   padding: 5px 0px;
   
   font-size: 14px;
}
.card_btn{
   padding: 10px 80px;
margin-left: 25px;
border: 1px solid rgb(44, 101, 223) ;
border-radius: 10px;
color:rgb(44, 101, 223) ;
font-weight: bold;

}
.text_color{
color: rgba(0, 0, 0, 0.5);
}

.p_color{
   color: #ffffff88;
}
.card_m{
      width:22vw;
   height: 70vh;
    border-radius: 10px;
    padding: 20px 0px;
}
.card_m ul li{
     list-style: disc;
   color: rgb(39, 126, 240);
}
.card_m ul{
   padding: 30px 40px;
}
 .card_m h1{
padding: 20px 0px;
 padding-left: 30px;
 }
 .card_m ul li p{
   padding: 5px 0px;
   
   font-size: 14px;
}
.card_m p{

font-size: 13px;
padding: 10px 40px;}
.p_pro{
   color: rgba(164, 183, 224, 0.678);
}
.card_btn_m{
   padding: 10px 100px;
margin-left: 20px;
border: none ;
border-radius: 10px;
color: white;
background-color: rgb(39, 126, 240);
font-weight: bold;
}
.ai_sec {
   height: 90vh;
   display: grid;
   grid-template-columns: 450px 350px 350px;
   padding: 20px 40px;
   gap: 10px;
   background-color: rgb(255, 220, 220);
   border-radius: 30px 30px 0 0;
   border-top: 1px solid rgba(128, 128, 128, 0.281);
   

}

.ai_sec .ai_sec_card {
   padding: 20px 10px;
   height: 100%;
 
}

.ai_sec_card img{
   padding: 10px 20px;
}
.ai_sec_card  p{
color:rgb(19, 20, 19);
   font-size: 20px;
   padding: 15px 20px;
}
.ai_sec_card .img2{
   width: 100%;
   border-radius: 20px;
    border-bottom: 1px solid rgb(39, 126, 240);
   overflow: hidden;
}

.ai_sec_card .heading{
   padding: 20px 20px;
}

.ai_sec_card .sub_text{
   padding: 10px 20px;
}
.sub_text_c{
   width: 400px;
}
.ai_sec_card input{
   padding: 20px 10px;
   border:1px solid rgba(128, 128, 128, 0.466);
   border-radius: 15px;
   width: 430px;
   display: block;
   margin: auto;
   margin-top: 30px;
   font-weight: bold;
}
.ai_sec_card button{
   padding: 20px 170px;
   text-align: center;
   margin-top: 30px;
   margin-left: 23px;
   border: none;
   background-color: rgb(39, 126, 240);
   color: white;
   font-weight: bold;
   border-radius: 13px;

}
.border_right{
   border-right: 1px solid rgba(99, 95, 95, 0.288);
   border-radius: 20px;
}
.bg_color{
 
   border-radius: 20px;
}
.social{
   width: 400px;
   height:100px;
   margin: auto;
   margin-top: 70px;
   padding: 5px 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.social a{
   text-decoration: none;
}
footer{
   margin-top: 20px;
   height: 80px;
   background-color:rgb(7, 7, 44);
   padding: 10px 70px;
   color: rgba(255, 255, 255, 0.596);
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.f_text{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}